@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* GENERAL */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* FLOATS */



/* ESTILOS */

/* . header {
    height: 5rem;
    background-color: rgba(209, 203, 203, 0.473);
} */

h1 {
    font-size: 2rem;
    color: dimgrey;
}

h2 {
    font-size: 1.4rem;
    color: darkslateblue;
}

p {
    font-size: 1.2em;
    color: darkorchid;
}

ol li {
    font-size: 1.1em;
    color: rgb(13, 54, 190);
}

.album_title {
    font-size: 1.3em;
    color: rgba(65, 8, 77, 0.384);
}

/* FLEX BOX */

.flex-container {
    background-color: black;
    height: 5rem;
    display: flex;
    margin: 0.5rem 2rem;  
}

.flex-item {
    
}